* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background: black;
  font-family: sans-serif;
}

.hero-section {
  height: 100vh;
  width: 100%;
  background: url("https://i.pinimg.com/1200x/cf/da/47/cfda47ff676eacb750a1f84c870fdc10.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/*----NAVBAR------- */

nav {
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8%;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(10px);
  position: relative;
}

.logo h1 {
  font-size: 24px;
  font-weight: 600;
  color: white;
}

nav ul {
  display: flex;
  gap: 25px;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #c7c7c7;
}

.menu-btn {
  display: none;
  font-size: 26px;
  color: white;
  cursor: pointer;
}

/*-----hero section----------*/

.hero-tittle {
  height: 90%;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(10px);
  padding: 20px;
}

.hero-details {
  max-width: 700px;
}

.hero-tittle h1 {
  font-size: 65px;
}

.hero-tittle p {
  font-size: 20px;
  margin-top: 15px;
}

.hero-tittle a .explorebtn {
  height: 45px;
  width: 180px;
  margin-top: 35px;
  cursor: pointer;
  border: none;
  margin-left: 15px;
  font-size: 16px;
}

.vediobtn {
  height: 45px;
  width: 180px;
  margin-top: 35px;
  cursor: pointer;
  border: none;
  margin-left: 15px;
  font-size: 16px;
  background: transparent;

  color: white;
}
.btn-group {
  display: flex;
  justify-content: center;
}

.hero-tittle a button:hover {
  background: rgba(0, 0, 0, 0.4);
}

/* ---tablte resonsive--- */

@media (max-width: 900px) {
  .hero-tittle h1 {
    font-size: 45px;
  }

  .hero-tittle p {
    font-size: 18px;
  }
}

/* ---mobile responsive--- */

@media (max-width: 700px) {
  .menu-btn {
    display: block;
  }

  nav ul {
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.9);

    flex-direction: column;
    align-items: center;
    gap: 25px;

    padding: 30px 0;

    display: none;
  }

  nav ul.active {
    display: flex;
  }

  .hero-tittle h1 {
    font-size: 30px;
  }

  .hero-tittle p {
    font-size: 13px;
  }

  .explorebtn {
    width: 130px;
    height: 40px;
    font-size: 14px;
  }
  .vediobtn {
    border: 1px solid white;
    width: 130px;
  }
}

.tours-section{
  height:80vh;
  width:100%;
  position:relative;
  overflow:hidden;
}

.tours-section::before{
  content:"";
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  background:url("https://i.pinimg.com/736x/3b/f4/a8/3bf4a86ab50547f47aef75d637b74e2a.jpg");
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;

  filter:blur(2px);
  transform:scale(1.1); 
}

.tours-section *{
  position:relative;
  z-index:2;
}

.line{
    width: 100%;
    color: rgb(68, 68, 68);
    height: 3px;
}
.tours-section h1{
    text-align: center;
    margin-top: 20px;
    color: rgb(57, 49, 65);
}
.card-container{
    padding: 20px;
    margin-top: 10px;
    height: 70vh;
    overflow-x: scroll;
}


