* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.line {
  height: 5px;
 
  background-color: gray;
}
body {
  width: 100%;
    background: url("https://i.pinimg.com/1200x/cf/da/47/cfda47ff676eacb750a1f84c870fdc10.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: sans-serif;
}

.hero-section {
  height: 100vh;
  width: 100%;
  background: url("https://i.pinimg.com/1200x/cf/da/47/cfda47ff676eacb750a1f84c870fdc10.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 10vh;
}

/*----NAVBAR------- */

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8%;

  background: rgba(0,0,0,0.4); 
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  border-bottom: 1px solid rgba(255,255,255,0.2);

}

.logo h1 {
  font-size: 24px;
  font-weight: 600;
  color: white;
}

nav ul {
  display: flex;
  gap: 25px;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #c7c7c7;
}

.menu-btn {
  display: none;
  font-size: 26px;
  color: white;
  cursor: pointer;
}

/*-----hero section----------*/

.hero-tittle {
  height: 90%;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(10px);
  padding: 20px;
}

.hero-details {
  width: 100%;
}

.hero-tittle h1 {
  font-family: "Lobster Two", cursive;
  font-weight: 400;
  font-style: normal;
  width: 100%;
  font-size: 85px;
}

.hero-tittle p {
  font-size: 23px;
  margin-top: 15px;
  font-family: "IBM Plex Sans Condensed";
}

.hero-tittle a .explorebtn {
  height: 45px;
  width: 180px;
  margin-top: 35px;
  cursor: pointer;
  border: none;
  margin-left: 15px;
  font-size: 16px;
}

.vediobtn {
  height: 45px;
  width: 180px;
  margin-top: 35px;
  cursor: pointer;
  border: none;
  margin-left: 15px;
  font-size: 16px;
  background: transparent;

  color: white;
}
.btn-group {
  display: flex;
  justify-content: center;
}

.hero-tittle a button:hover {
  background: rgba(0, 0, 0, 0.4);
}

.tours-section {
  position: relative;
  height: 80vh;
  width: 100%;
  overflow: hidden;
}

.tours-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("https://i.pinimg.com/1200x/1a/fd/7e/1afd7e13dbf0abca0393fdfadd9487b6.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(3px);
  transform: scale(1.1);
  z-index: -1;
}
.tours-section h1 {
  color: rgb(94, 94, 94);
  margin-top: 10px;
  font-size: 40px;
  font-family: "Ubuntu";
  text-align: center;
}
.card-container {
  height: 90%;
  overflow-x: scroll;
  display: flex;
  padding: 10px;
  justify-content: space-evenly;
}
.card-container::-webkit-scrollbar{
  background-color: transparent;
  color: orange;
}
.tour-card {
  width: 300px;
  height: 400px;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  cursor: pointer;
}

.tour-card video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

/* overlay */

.card-overlay {
  position: absolute;
  inset: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  color: white;
  padding: 20px;

  opacity: 0;
  transition: 0.5s;

  background: rgba(0, 0, 0, 0.3);
}

.card-overlay h3 {
  font-size: 28px;
  margin-bottom: 10px;
}

.card-overlay p {
  font-size: 14px;
  margin-bottom: 20px;
}

.card-overlay button {
  padding: 10px 18px;
  border: none;
  background: white;
  color: black;
  border-radius: 5px;
  cursor: pointer;
}

/* hover */

.tour-card:hover video {
  filter: blur(4px);
  transform: scale(1.1);
}

.tour-card:hover .card-overlay {
  opacity: 1;
}

.destinations-section {
  padding-top: 20px;
  position: relative;
  height: 80vh;
  width: 100%;
  overflow: hidden;
}

.destinations-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("https://i.pinimg.com/1200x/1a/fd/7e/1afd7e13dbf0abca0393fdfadd9487b6.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(3px);
  transform: scale(1.1);
  z-index: -1;
}

.destination-header {
  margin-top: 10px;
  text-align: center;
  color: white;
}

.destination-header h2 {
  font-size: 42px;
  font-weight: 600;
  color: rgb(48, 48, 48);
}

.destination-header p {
  font-size: 14px;
  color: rgb(48, 48, 48);
  letter-spacing: 1px;
}

.destination-container {
  margin-top: 10px;
  width: 100%;
  height: 84%;
  display: flex;
  gap: 20px;
  justify-content: center;
}
.destination-card {
  background: url("https://i.pinimg.com/1200x/86/03/b8/8603b8c4492bc7b0cdc5c15f453d5474.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  width: 280px;
  border-radius: 10px;
  overflow: hidden;
  border: 2px solid white;
  position: relative;
}
.destination-card:nth-child(2){
  background: url('https://i.pinimg.com/736x/6e/8c/2b/6e8c2b51a38acab4fb36be65a7f73b93.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.destination-card:nth-child(3){
  background: url('https://i.pinimg.com/736x/a6/74/f4/a674f407d8af1d8987e6599c0e51d5bc.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.destination-card:nth-child(4){
  background: url('https://i.pinimg.com/736x/ac/65/74/ac6574e76fca7637812412ec4a65811e.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.destination-card h1 {
  margin-top: 5px;
  position: absolute;
  top: 0;
  left: 50px;
  color: white;
  font-size: 32px;
}
.card-foot {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.589);
}
.card-foot ul li {
  list-style: none;
  padding: 5px;
  color: white;
  font-size: 18px;
}
.card-foot ul li:nth-child(2) {
  border-top: 1px solid whitesmoke;
  border-bottom: 1px solid whitesmoke;
}
.card-foot button {
  margin-left: 10px;
  width: 90%;
  height: 40px;
  margin-bottom: 10px;
  border: none;
  color: white;
  background-color: rgba(7, 7, 104, 0.74);
}

.footer-section {
  padding-top: 20px;
  position: relative;
  height: 85vh;
  width: 100%;
  overflow: hidden;
}

.footer-section::before {
  content: "";
  position: absolute;
  inset: 0;

  background: url("https://i.pinimg.com/736x/54/43/22/5443227fc01ba03cd2ea494b2463e506.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  filter: blur(6px) brightness(0.4);
  transform: scale(1.1);
  z-index: -1;
}

.footer-head{
  padding: 20px;
}
.footer-head h1{
  padding-left: 50px;
  color: white;
  font-size: 40px;
  margin-bottom: 10px;
}
.footer-head p{
  padding-left: 50px;
  font-size: 20px;
  color: white;
}
footer{
  padding: 10px;
  width: 100%;
  height: 65%;
  background-color: rgba(0, 0, 0, 0.336);
  display: flex;
  justify-content: space-evenly;
}
.links{
  width: 22vw;
}
.links h1,
.subscripe h1{
  font-size: 22px;
  color: white;
  margin-bottom: 10px;
}
.links ul li{
 padding-left: 10px;
 padding-top: 7px;
  list-style: none;
}
.links ul li a{
  color: white;
  font-size: 16px;
  text-decoration: none;
  transition: all 0.3s ease;

}
.links ul li a:hover{
  padding-left: 15px;
}
.subscripe p{
  font-size: 14px;
  color: white;
}
.input-box{
  overflow: hidden;
  margin-top: 10px;
  height: 40px;
  background-color: white;
}
.input-box input{
  border: none;
  padding: 5px;
  height: 100%;
  width: 70%;
 background-color: white;
}
.input-box button{
  background-color: blue;
  height: 100%;
 width: 76px;
 color: white;
 border: none;
 cursor: pointer;
}
.social-link{
  height: 10vh;
}
.social-link ul {
  list-style: none;
  margin-top: 20px;
  display: flex;
}
.social-link ul li a{
  font-size: 30px;
  margin-left: 6px;
  border-radius: 5px;
 color: white;
  background-color: black;
  padding: 5px;
  /* transition: all 0.2s ease-in; */
  transition: 0.3s;
}
 
.social-link ul li a:hover{
 color: #00d9ff;
 transform: translateY(-4px);

}
.copy-footer{
  border-top: 1px solid rbg(225,225,255,0.2);
  height: 7vh;
  background-color: rgba(0, 0, 0, 0.63);
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
 
}
.privacy-links{
  display: flex;
  gap: 10px;
}
.copy-footer a{
  color: white;
  margin-left: 10px;
}
/* ---tablte resonsive--- */

@media (max-width: 900px) {
  .hero-tittle h1 {
    font-size: 35px;
  }

  .hero-tittle p {
    font-size: 18px;
  }
}

/* ---mobile responsive--- */

@media (max-width: 700px) {
  .menu-btn {
    display: block;
  }

  nav ul {
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.9);

    flex-direction: column;
    align-items: center;
    gap: 25px;

    padding: 30px 0;

    display: none;
  }

  nav ul.active {
    display: flex;
  }

  .hero-tittle h1 {
    font-size: 30px;
  }

  .hero-tittle p {
    font-size: 13px;
  }

  .explorebtn {
    width: 130px;
    height: 40px;
    font-size: 14px;
  }
  .vediobtn {
    border: 1px solid white;
    width: 130px;
  }
}
